* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
}

:root {
  --b-color: #06f;
  --f-color: #ffffffc2;
}

body {
  background-color: #212121;
  color: #fff;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  overflow-wrap:normal ;
}

.container {
  border: 1px solid var(--b-color);
  border-radius: 5px;
  box-shadow: 0 1px 8px 0 rgba(54, 9, 168, 0.11), 0 1px 26px 0 rgba(5, 14, 177, 0.492);
  max-width: 60%;
  /* height: 100%; */
  padding: 1rem 4rem;
  position: relative;
  overflow-y: hidden;
}



.box .img img {
  border: 2px solid var(--b-color);
  vertical-align: middle;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  /* margin: .6rem; */
  filter: grayscale(50%);
}


/*  BUTTON CSS */

.btn {
  align-items: center;
  background-color: #06f;
  border: 1px solid #06f;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  fill: #000000;
  font-family: Inter, sans-serif;
  font-size: 1rem;  
  height: 2.2rem;
  justify-content: center;
  min-width: 100px;
  outline: none;
  text-align: center;
  margin-left: 1.5rem;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.box .img .btn a{
  padding: .5rem 1rem; 
  text-align: center;
  text-decoration: 0;
  font-weight: bold;
  color: var(--f-color);
  /* letter-spacing: .5px; */
}
.btn:focus {
  color: #17291a;
}

.box .img .btn:hover {
  background-color: #3e86f1;
  border-color: #5696f6;
  fill: #06f;
}

.btn:active {
  background-color: #3385ff;
  border-color: #3385ff;
  fill: #06f;
}

@media (min-width: 768px) {
  .btn {
    min-width: 170px;
  }
}

.flex-box{
  margin: 1rem 0;
  display: inline;
}

.box p {
  border: 1px solid var(--b-color);
  padding: .8rem;
  margin-top: 12px;
  border-radius: 5px;
  letter-spacing: 1px;
  text-align: center;
  font-size: 1rem;
  color: var(--f-color);
}
.box p span{
 color: #3dd886;
 font-weight: bold;
}

.box .flex-links ul {
  list-style: none;
  padding: .6rem;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.box .social-links ul {
  justify-content: center;
}

.box .social-links a:hover {
  /* color: #06f; */
  box-shadow: 0 1px 10px var(--b-color);
}

.box .service ul li {
  border: 1px solid var(--b-color);
  padding: 5px 7px;
  margin: 0.4rem;
  border-radius: 5px;
}
.box .service li a{
  text-decoration: none;
  color: var(--f-color);
  font-size: .8rem;
}
.box .social-links a {
  font-size: 1rem;
  transition: all .3s;
}

.social-links a {
  text-decoration: none;
  font-size: 1rem;
  color: var(--f-color);
  border-radius: 5px;
  flex-wrap: wrap;
  margin: 0 .8rem;
}

.box .hr-line {
  height: 1px;
  width: 100%;
  margin-bottom: .5rem;
  background-color: var(--b-color);
}

footer p {
  text-align: center;
  color: gray;
  padding: .6rem;
  margin: 0 2rem;
  border-top: 1px solid #3a3a3a;
}


/* ----------------------------------------------- */
/* mobile screen  */
@media (max-width: 768px) {
  main {
    height: 100%;
    width: 95%;
    margin: 0 auto;
  }
  .container{
    width: 100%;
    height: fit-content;
    margin: 1rem;
    padding: 1rem 0;
    box-shadow: 0 1px 8px 0 rgba(56, 32, 118, 0.11), 0 1px 26px 0 rgba(28, 31, 90, 0.492);
  }
  .box{
    text-align: center;
  }
  .flex-box{
    margin: 0;
  }

  .box .img img{
    height: 100px;
    width: 100px;
    /* display: block; */
    margin: auto auto;
  }
  .box .btn{
    height: 1.8rem;
    min-width: 110px;
    margin: .6rem;
    padding: 0;
    font-size: .8rem;    
  }
  .box .img .btn a{
    padding: 0;
  }
  .box p{
    font-size: .9rem;
    margin: 1rem;
  }
  .box .service ul li{
    padding: 4px 8px;
    margin: 0.3rem;
  }
  .box .service ul li a{
    font-size: .8rem;
  }
  .box .hr-line {
    width: 90%;
    margin: auto auto;
  }
  .box .social-links a{
    font-size: 1rem;
  }
  footer p{
    font-size: .8rem;
  }
}


/* ------------------------------ */

@media (max-width: 1128px){
  .container{
    height: 70%;
    height: fit-content;
  }
  .img{
   text-align: center;
  }
  .flex-box{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0;
  }

}